.git/*
env/
venv/

db.sqlite3
db.sqlite3-journal

__pycache__/
*.py[cod]

.idea
.DS_Store
.AppleDouble
.LSOverride
.vscode

*.sublime-project
*.sublime-workspace

import_csv.py
export_csv/
import_csv/
sent_emails/
